/* CABEÇALHO */
.cabecalho__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0
}

.cabecalho__pesquisar__item {
  display: none;
}

/* MENU_LATERAL */
.menu__container {
  bottom: 0%;
  height: 74px;
  position: fixed;
  width: 100%;
}

.menu__lista {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.menu__lista li {
  align-self: center;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

/* SEÇÃO_SUPERIOS */
.superior__secao__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  gap: 15PX;
}
/* VIDEOS */
.videos__container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.videos__item{
  height: 303px;
  width: 280px;
  flex-grow: 1;
}
/* DESCRIÇÃO VIDEOS */

.descricao-video {
  margin-top: 1rem;
  display: grid;
  text-align: start;
  column-gap: 1rem;
  row-gap: 10px;
  grid-template-columns: auto 1fr;
}

.descricao-video img {
  grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
  grid-area: 1 / 2 / 2 / 3;
  font-weight: 700;
  color: #444444;
}

.descricao-video p {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 14px;
  color: #444444;
}

/* RODAPÉ */
.rodape__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


@media (min-width: 834px) {

  /* CABEÇALHO */
  .cabecalho__pesquisar__item {
    display: block;
  }

  /* MENU_LATERAL */
  .menu__container {
    width: 80px;
    height: auto;
    top: 80px;
    left: 0;
  }

  .menu__lista {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 33px;
  }

  /* RODAPÉ */
  .rodape__container {
    justify-content: space-between;
  }
}

@media(min-width: 1440px) {
  .menu__container {
    width: 239px;
    overflow: scroll;
  }

  .menu__lista:nth-child(2),
  .menu__lista:nth-child(3),
  .menu__lista:nth-child(4) {
    display: flex;
  }
  .menu__lista{
    height: auto;
    padding: 20px 17px 20px 15px;
    gap: 15px;
  }
  .menu__itens{
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .menu__lista:nth-child(3){
    flex-direction: column-reverse;
  }
  .jogos{
    order: 3;
  }
  .filmes{
    order: 2;
  }
  .premium{
    order: 1;
  }
  .maispagina{
    order: 4;
  }
}